# Dependency directories
node_modules
dist

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.DS_Store

# Application files and folders
vectorStore

# Testing related artifacts
/**/__screenshots__/
.vitest-attachements
