/* Global Styles */

:root {
  color-scheme: only light;
}

html {
  font-size: 18px;
}

body {
  background-color: #1fcecb;  /* robin's egg-shell blue */
  margin: 0;
  font-family: 'Roboto', sans-serif;
  display: grid;
  row-gap: 0.5rem;
  margin-left: 1rem;
  margin-top: 1rem;
  margin-right: 1rem;
}

button {
    border-radius: 1rem;
    color: black;
    font-weight: bold;
    padding-bottom: 0.5rem;

    &:hover, &:focus {
      border-color: red;
    }
}

.btn-command {
  background-color: lightsalmon;
}

svg {
  max-height: 4rem;
  width: auto;
}

svg.inter-word-padding {
  padding-right: 1rem;
}

.paletteContainer {
    height: 100%;
}

/*
 * A div that contains two divs that:
 * - are arranged in one row,
 * - the first div is in the first column but needs less horizontal space
 * - the second div is in the second column but needs the majority of the
 *   horizontal space
 */
.oneRow {
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  column-gap: 0.5rem;
}

#SvgEntryDialog, #SearchGlossDialog, #searchGlossResults {
  margin: 0.5rem;
}
